@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
  url("../fonts/roboto.woff2") format("woff2"),
  url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"),
  url("../fonts/robotomedium.woff2") format("woff2"),
  url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"),
  url("../fonts/robotobold.woff2") format("woff2"),
  url("../fonts/robotobold.woff") format("woff");
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  font-size: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.page {
  position: relative;
  font-family: Roboto, Arial, sans-serif;
  background-color: #ffffff;
}

.main__slider {
  margin-bottom: 80px;
}

.main__services {
  padding-bottom: 82px;
}

.main__about {
  margin-top: 40px;
}

.main__heading {
  display: block;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 110px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
  background-color: #eeeeee;
  border: 0.1px solid transparent;
}

.main__catalog {
  margin-bottom: -20px;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 1160px;
}

.wrapper--full-width {
  width: 1440px;
}

.main-header {
  padding-top: 50px;
  background-color: #eeeeee;
}

.main-navigation {
  align-items: center;
  display: flex;
}

.main-navigation__list {
  display: flex;
  margin: 0;
  margin-left: 200px;
  margin-top: 10px;
  padding: 0;
  width: 100%;
  list-style: none;
}

.main-navigation__item {
  margin-right: 47px;
}

.main-navigation__item:last-of-type {
  margin-right: 0;
}

.main-navigation__item--cart {
  margin-left: auto;
  margin-right: 0;
}

.main-navigation__link {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
}

.main-navigation__link:hover,
.main-navigation__link:focus {
  color: #fb565a;
}

.main-navigation__link:active {
  color: inherit;
  opacity: 0.3;
}

.main-navigation__link--current::after {
  position: absolute;
  left: 0;
  bottom: -13px;
  width: 100%;
  height: 2px;
  background-color: #fb565a;
  content: "";
}

.main-navigation__link--cart::before {
  position: absolute;
  top: 2px;
  left: -40px;
  height: 15px;
  width: 15px;
  background-color: transparent;
  background-image: url("../img/icon-cart.svg");
  background-position: center;
  background-repeat: no-repeat;
  content: "";
}

.slider {
  background-color: #eeeeee;
}

.slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider__tagline {
  margin: 0;
  margin-bottom: 25px;
  margin-top: 73px;
  width: 560px;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.slider__description {
  margin: 0;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 24px;
}

.slider__button {
  width: 240px;
}

.slider__item {
  min-height: 425px;
  background-position: bottom right;
  background-repeat: no-repeat;
  border: 0.1px solid transparent;
}

.slider__item--slide-1 {
  background-image: url("../img/slide1.jpg");
  background-position: bottom right 30px;
}

.slider__item--slide-2 {
  background-image: url("../img/slide2.jpg");
}

.slider__item--slide-3 {
  background-image: url("../img/slide3.jpg");
}

.services__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 1100px;
  list-style: none;
}

.services__item {
  width: 300px;
}

.services__thumbnail {
  height: 146px;
  width: 300px;
  background-position: center;
  background-repeat: no-repeat;
}

.services__thumbnail--web {
  background-color: #fb565a;
  background-image: url("../img/services-html.jpg");
}

.services__thumbnail--app {
  background-color: #00ca74;
  background-image: url("../img/services-app.jpg");
}

.services__thumbnail--presentation {
  background-color: #efc849;
  background-image: url("../img/services-presentation.jpg");
}

.services__heading {
  margin-bottom: 17px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.services__description {
  margin-bottom: 30px;
  width: 280px;
  font-size: 16px;
  line-height: 24px;
}

.services__button {
  width: 160px;
}

.separator {
  border-bottom: 2px solid #eeeeee;
}

.about {
  display: flex;
  padding-bottom: 70px;
}

.about__tagline {
  margin-top: 35px;
  margin-bottom: 33px;
  width: 660px;
  font-size: 45px;
  line-height: 45px;
  letter-spacing: 0.3px;
}

.about__description {
  width: 660px;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 24px;
}

.about__services-tagline {
  margin-bottom: 23px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.about__services-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about__services-item {
  position: relative;
  margin-left: 35px;
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 24px;
}

.about__services-item:last-of-type {
  margin-bottom: 0;
}

.about__services-item::before {
  position: absolute;
  left: -35px;
  top: 10px;
  display: block;
  height: 2px;
  width: 25px;
  background-color: #fb565a;
  content: "";
}

.clients__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.clients__item {
  position: relative;
  width: 300px;
  min-height: 180px;
}

.clients__item:first-of-type {
  margin-left: -20px;
}

.clients__item:last-of-type {
  margin-right: -20px;
}

.clients__item::after {
  position: absolute;
  top: 65px;
  right: 0;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
  content: "";
}

.clients__item:last-of-type::after {
  display: none;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 180px;
  opacity: 0.2;
}

.clients__link:hover,
.clients__link:focus {
  opacity: 1;
}

.clients__link:active {
  opacity: 0.1;
}

.stats {
  margin-left: auto;
}

.stats__table {
  width: 360px;
}

.stats__tagline {
  margin-top: 34px;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.stats__item {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100px;
  font-size: 45px;
  line-height: 10px;
  text-align: left;
  font-weight: 700;
}

.stats__percent {
  font-size: 28px;
  font-weight: 700;
}

.stats__heading {
  padding-top: 20px;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  line-height: 18px;
}

.contacts {
  position: relative;
}

.contacts::before {
  position: absolute;
  right: 390px;
  top: 90px;
  display: block;
  height: 190px;
  width: 231px;
  background-image: url("../img/map-marker.png");
  background-repeat: no-repeat;
  content: "";
}

.contacts__address {
  position: absolute;
  left: 140px;
  top: 210px;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-right: 50px;
  width: calc(320px - 50px * 2);
  min-height: 308px;
  font-style: normal;
  transform: translateY(-50%);
  background-color: #ffffff;
}

.contacts__recipient {
  margin: 0;
  margin-top: 47px;
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 1px;
}

.contacts__text {
  margin: 0;
  margin-bottom: 18px;
  width: 210px;
  font-size: 16px;
  line-height: 18px;
}

.contacts__tel {
  margin: 0;
  margin-bottom: 38px;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: inherit;
}

.contacts__button {
  width: 220px;
}

.footer {
  padding-bottom: 70px;
}

.footer__contacts {
  margin-top: 80px;
}

.footer__slogan {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-left: 140px;
  font-size: 16px;
  line-height: 22px;
}

.footer__tagline {
  display: block;
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.3px;
}

.footer__wrap {
  display: flex;
  padding-top: 70px;
}

.social {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__item {
  margin-right: 12px;
}

.social__item:last-of-type {
  margin-right: 0;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 78px;
  width: 78px;
  background-color: #e1e1e1;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.social__link:hover,
.social__link:focus {
  background-color: #e74246;
}

.social__link:active {
  background-color: #d7373b;
}

.social__link:active .social__icon {
  opacity: 0.5;
}

.feedback {
  position: fixed;
  left: 50%;
  top: 50%;
  display: block;
  width: 960px;
  background-color: #ffffff;
  box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
  transform: translate(-50%, -50%);
}

.feedback__lead {
  margin: 0;
  margin-top: 65px;
  margin-bottom: 43px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.feedback__label {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.feedback__input {
  width: 360px;
  box-sizing: border-box;
  padding: 13px;
  margin-top: 10px;
}

.feedback__textarea {
  width: 760px;
  box-sizing: border-box;
  padding: 13px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 45px;
  margin-top: 10px;
  resize: none;
}

.feedback__input,
.feedback__textarea {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  border: 2px solid #d7dcde;
  border-radius: 2px;
  opacity: 0.5;
  outline: none;
}

.feedback__input:hover,
.feedback__textarea:hover {
  border-color: #b4b9bb;
}

.feedback__input:focus,
.feedback__textarea:focus {
  border-color: #000000;
  opacity: 1;
}

.feedback__input:invalid,
.feedback__textarea:invalid {
  color: #e74246;
  border-color: #e74246;
  box-shadow: none;
}

.feedback__submit {
  margin-left: 100px;
  margin-bottom: 85px;
  width: 260px;
}

.feedback__close {
  position: absolute;
  top: 80px;
  right: 90px;
  display: block;
  width: 21px;
  height: 21px;
  background-image: url("../img/icon-cross.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  opacity: 0.3;
}

.feedback__close:hover,
.feedback__close:focus {
  opacity: 1;
}

.feedback__close:active {
  opacity: 0.1;
}

.feedback__wrap {
  width: 760px;
  margin-left: 100px;
}

.feedback__wrap--input {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #fb565a;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  outline: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px 0 0 rgba(0, 1, 1, 0.1) inset;
}

.button--app {
  background-color: #00ca74;
}

.button--app:hover,
.button--app:focus {
  background-color: #00bc6c;
}

.button--app:active {
  background-color: #00aa62;
}

.button--presentation {
  background-color: #efc849;
}

.button--presentation:hover,
.button--presentation:focus {
  background-color: #eab534;
}

.button--presentation:active {
  background-color: #e5a722;
}

.button--accent {
  background-color: #eeeeee;
  color: #000000;
}

.button--accent:hover,
.button--accent:focus {
  background-color: #dfdfdf;
}

.button--accent:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

.logo {
  opacity: 1;
}

.logo:hover,
.logo:focus {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.3;
}

.sort {
  display: flex;
  justify-content: space-between;
}

.sort__lead {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
}

.sort__list {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  list-style: none;
}

.sort__item {
  margin-right: 25px;
}

.sort__item:nth-last-of-type(3) {
  margin-right: 48px;
}

.sort__item:nth-last-of-type(2) {
  margin-right: 20px;
}

.sort__item:last-of-type {
  margin-right: 0;
}

.sort__type {
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.3;
}

.sort__order {
  display: block;
  width: 11px;
  height: 10px;
  background-image: url("../img/icon-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.35;
}

.sort__order--descending {
  transform: rotate(180deg);
}

.sort__type:hover,
.sort__type:active,
.sort__type--active,
.sort__order:hover,
.sort__order:active,
.sort__order--active {
  opacity: 1;
}

.filters {
  width: 260px;
}

.filters__button {
  width: 260px;
}

.filters__heading {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.filters__fieldset {
  padding: 0;
  border: none;
}

.filters__fieldset--range {
  margin-bottom: 55px;
}

.filters__fieldset--grid {
  margin-bottom: 50px;
}

.filters__fieldset--features {
  margin-bottom: 50px;
}

.filters__option {
  margin-top: 17px;
  margin-bottom: 21px;
}

.filters__option:last-of-type {
  margin-bottom: 0;
}

.filters__label {
  position: relative;
  margin-left: 36px;
}

.filters__label::before {
  position: absolute;
  left: -36px;
  display: block;
  background-repeat: no-repeat;
  background-position: left;
  opacity: 0.4;
  content: "";
}

.filters__label:hover::before {
  opacity: 1;
}

.filters__label--radio::before {
  top: -4px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
}

.filters__input:checked + .filters__label--radio::before {
  background-image: url("../img/radio-on.svg");
}

.filters__label--checkbox::before {
  top: -4px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
}

.filters__input:checked + .filters__label--checkbox::before {
  background-image: url("../img/checkbox-on.svg");
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.cards__item {
  margin-right: 40px;
  margin-bottom: 33px;
}

.cards__item:nth-of-type(2n) {
  margin-right: 0;
}

.cards__item:last-of-type,
.cards__item:nth-last-of-type(2) {
  margin-bottom: 0;
}

.cards__card {
  position: relative;
  width: 360px;
  height: 578px;
  margin-top: 40px;
  box-sizing: border-box;
}

.cards__card::before {
  position: absolute;
  top: -40px;
  left: 0;
  height: 40px;
  width: 100%;
  background-image: url("../img/cards-top.svg");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.12;
  content: "";
}

.cards__card:hover::before {
  opacity: 1;
}

.cards__card::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  display: block;
  width: 100%;
  height: 100%;
  box-shadow: inset -1px -1px 0 #e5e5e5, inset 1px 1px 0 #e5e5e5;
  content: "";
}

.cards__preview {
  position: relative;
  z-index: 50;
}

.cards__description {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  min-height: 231px;
  width: 100%;
  padding-top: 25px;
  background-color: #eeeeee;
}

.cards__card:hover .cards__description {
  z-index: 100;
}

.cards__link {
  text-decoration: none;
  color: #000000;
}

.cards__heading {
  margin: 0;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: inherit;
}

.cards__text {
  margin: 0;
  margin-bottom: 15px;
  width: 230px;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #666666;
}

.cards__text--narrow {
  width: 195px;
}

.cards__button {
  width: 200px;
  margin-bottom: 20px;
}

.catalog {
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
}

.catalog__main-column {
  width: 760px;
}

.catalog__cards {
  margin-bottom: 55px;
}

.catalog__header {
  margin-bottom: 58px;
}

.pagination {
  display: flex;
}

.pagination__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination__item {
  margin-right: 11px;
}

.pagination__item:last-of-type {
  margin-right: 0;
}

.pagination__button {
  width: 260px;
}

.pagination__button:first-of-type {
  margin-right: 11px;
}

.pagination__button:last-of-type {
  margin-left: 11px;
}

.pagination__button--inactive {
  display: none;
}

.pagination__link {
  width: 50px;
}

.pagination__item--current .pagination__link {
  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}

.range__controls {
  margin-top: 49px;
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range__scale {
  height: 2px;
  background: #d7dcde;
}

.range__toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range__bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range__toggle--min {
  left: 20px;
}

.range__toggle--max {
  left: 160px;
}

.range__price-controls {
  display: flex;
  justify-content: space-between;
}

.range__label {
  font-size: 16px;
  text-transform: uppercase;
}

.range__input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}