@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
  url("../fonts/roboto.woff2") format("woff2"),
  url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"),
  url("../fonts/robotomedium.woff2") format("woff2"),
  url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"),
  url("../fonts/robotobold.woff2") format("woff2"),
  url("../fonts/robotobold.woff") format("woff");
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  font-size: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.page {
  font-family: Roboto, Arial, sans-serif;
  background-color: #ffffff;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 1160px;
}

.main-header {
  padding-top: 50px;
  background-color: #eeeeee;
}

.main-navigation {
  align-items: center;
  display: flex;
}

.main-navigation__list {
  display: flex;
  margin: 0;
  margin-left: 200px;
  padding: 0;
  width: 100%;
  list-style: none;
}

.main-navigation__item {
  margin-right: 44px;
}

.main-navigation__item--cart {
  margin-left: auto;
  margin-right: 0;
}

.main-navigation__link {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
}

.main-navigation__link--cart {
  position: relative;
}

.main-navigation__link--cart::before {
  left: -40px;
  position: absolute;
  top: 2px;
  height: 15px;
  width: 15px;
  background-color: transparent;
  background-image: url("../img/icon-cart.svg");
  background-position: center;
  background-repeat: no-repeat;
  content: "";
}

.slider {
  background-color: #eeeeee;
}

.slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider__tagline {
  margin: 0;
  margin-bottom: 20px;
  width: 560px;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.slider__description {
  margin: 0;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 24px;
}

.slider__button {
  display: block;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 240px;
  font-size: 16px;
  font-weight: 500;
  line-height: 14px;
  text-align: center;
  text-decoration: none;
  background-color: #fb565a;
  border-radius: 2px;
  color: #ffffff;
}

.slider__item {
  min-height: 430px;
  padding-top: 50px;
  background-position: bottom right;
  background-repeat: no-repeat;
}

.slider__item--slide-1 {
  background-image: url("../img/slide1.jpg");
}

.slider__item--slide-2 {
  background-image: url("../img/slide2.jpg");
}

.slider__item--slide-3 {
  background-image: url("../img/slide3.jpg");
}

.services__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 1110px;
  list-style: none;
}

.services__item {
  width: 300px;
}

.services__thumbnail {
  height: 146px;
  width: 300px;
  background-position: center;
  background-repeat: no-repeat;
}

.services__thumbnail--web {
  background-color: #fb565a;
  background-image: url("../img/services-html.jpg");
}

.services__thumbnail--app {
  background-color: #00ca74;
  background-image: url("../img/services-app.jpg");
}

.services__thumbnail--presentation {
  background-color: #efc849;
  background-image: url("../img/services-presentation.jpg");
}

.services__heading {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.services__description {
  font-size: 16px;
  line-height: 24px;
}

.services__button {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 160px;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border-radius: 2px;
}

.services__button--web {
  background-color: #fb565a;
}

.services__button--app {
  background-color: #00ca74;
}

.services__button--presentation {
  background-color: #efc849;
}

.separator {
  border-bottom: 1px solid #eeeeee;
}

.about {
  display: flex;
}

.about__tagline {
  font-size: 45px;
  line-height: 45px;
}

.about__description {
  font-size: 16px;
  line-height: 24px;
}

.about__services-tagline {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.about__services-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about__services-item {
  font-size: 16px;
  line-height: 24px;
}

.clients__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.clients__item {
  opacity: 0.2;
}

.stats__tagline {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.stats__number {
  font-size: 45px;
  line-height: 10px;
}

.stats__percent {
  font-size: 45px;
  line-height: 10px;
}

.stats__heading {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}