<section class="about main__about">
  <div class="about__wrap">
    <p class="about__tagline">Мы — маленькая, но гордая дизайн-студия из Краснодара.</p>
    <p class="about__description">Исповедуем принципы минимализма и чистоты. Ставим математический расчет превыше креатива. Работаем не покладая рук, как роботы.</p>
    <p class="about__services-tagline"></p>
    <ul class="about__services-list">
      <li class="about__services-item">Веб-сайтов любой сложности</li>
      <li class="about__services-item">Мобильных приложений для iOS и Android</li>
      <li class="about__services-item">Слайдшоу и видео для корпоративных презентаций</li>
    </ul>
  </div>
  <section class="stats">
    <img src="http://placehold.it/360x208" width="360" height="208" alt="Логотип Нёрдс с декоративными элементами">
    <h2 class="stats__tagline">с 2004 года Любим точность во всем:</h2>
    <ul class="stats__list">
      <li class="stats__item">
        <span class="stats__number">146</span>
        <span class="stats__percent">%</span>
        Уровень самоотдачи
      </li>
      <li class="stats__item">
        <span class="stats__number">100</span>
        <span class="stats__percent">%</span>
        Соблюдение сроков
      </li>
      <li class="stats__item">
        <span class="stats__number">50</span>
        <span class="stats__percent">%</span>
        Минимальная предоплата
      </li>
    </ul>
  </section>
</section>
