<span>Здесь будет сортировка</span>
<ul class="cards catalog__cards">
  <li class="cards__item">
    <img class="cards__preview" src="http://placehold.it/360x576" alt="Седона">
    <div class="cards__description">
      <a class="cards__link" href="sedona.html">
        <h3 class="cards__heading">Sedona</h3>
      </a>
      <p class="cards__text">Информационный сайт для туристов</p>
      <p class="cards__button">9 900 руб.</p>
    </div>
  </li>
  <li class="cards__item">
    <img class="cards__preview" src="http://placehold.it/360x576" alt="Пинк">
    <div class="cards__description">
      <a class="cards__link" href="pink.html">
        <h3 class="cards__heading">Pink App</h3>
      </a>
      <p class="cards__text">Продуктовый лендинг приложения для iOS и Android</p>
      <p class="cards__button">9 900 руб.</p>
    </div>
  </li>
  <li class="cards__item">
    <img class="cards__preview" src="http://placehold.it/360x576" alt="Барбершоп">
    <div class="cards__description">
      <a class="cards__link" href="barbershop.html">
        <h3 class="cards__heading">Barbershop</h3>
      </a>
      <p class="cards__text">Сайт салона красоты. Для мужчин, да.</p>
      <p class="cards__button">9 900 руб.</p>
    </div>
  </li>
  <li class="cards__item">
    <img class="cards__preview" src="http://placehold.it/360x576" alt="Мишка">
    <div class="cards__description">
      <a class="cards__link" href="mishka.html">
        <h3 class="cards__heading">MISHKA</h3>
      </a>
      <p class="cards__text">Интернет-магазин вязаных игрушек</p>
      <p class="cards__button">9 900 руб.</p>
    </div>
  </li>
  <li class="cards__item">
    <img class="cards__preview" src="http://placehold.it/360x576" alt="А Плюс">
    <div class="cards__description">
      <a class="cards__link" href="aplus.html">
        <h3 class="cards__heading">A Plus</h3>
      </a>
      <p class="cards__text">Лендинг курсов повышения квалификации</p>
      <p class="cards__button">9 900 руб.</p>
    </div>
  </li>
  <li class="cards__item"><img class="cards__preview" src="http://placehold.it/360x576" alt="Кваст">
    <div class="cards__description">
      <a class="cards__link" href="kvast.html">
        <h3 class="cards__heading">Кваст</h3>
      </a>
      <p class="cards__text">Промо-сайт производителя крафтового кваса</p>
      <p class="cards__button">9 900 руб.</p>
    </div>
  </li>
</ul>
<nav class="pagination">
  <ul class="pagination__list">
    <a href="previous.html" class="pagination__button" hidden>предыдущая</a>
    <li class="pagination__item pagination__item--current">
      <a href="1.html" class="pagination__link">1</a>
    </li>
    <li class="pagination__item">
      <a href="2.html" class="pagination__link">2</a>
    </li>
    <li class="pagination__item">
      <a href="3.html" class="pagination__link">3</a>
    </li>
    <a href="next.html" class="pagination__button">следующая</a>
  </ul>
</nav>
