<section class="clients main__clients">
  <h2 class="visually-hidden">Наши клиенты</h2>
  <ul class="clients__list">
    <li class="clients__item">
      <img src="http://placehold.it/260x180" width="260" height="180" alt="Логотип HTML Академии">
    </li>
    <li class="clients__item">
      <img src="http://placehold.it/260x180" width="260" height="180" alt="Логотип Барбершоп Бородинский">
    </li>
    <li class="clients__item">
      <img src="http://placehold.it/260x180" width="260" height="180" alt="Логотип Пинк">
    </li>
    <li class="clients__item">
      <img src="http://placehold.it/260x180" width="260" height="180" alt="Логотип Мишка">
    </li>
  </ul>
</section>
