<section class="contacts main__contacts">
  <div class="contacts__address-wrap">
    <address class="contacts__address">
      <p class="contacts__recipient">NЁRDS DESIGN STUDIO</p>
      <p class="contacts__text">191186, Санкт-Петербург, ул. Б. Конюшенная, д. 19/8</p>
      <p class="contacts__text">тел. +7 (812) 275-75-75</p>
    </address>
    <a href="writeus.html" class="contacts__button"></a>
  </div>
  <img class="contacts__map" src="http://placehold.it/1440x416" alt="Схема проезда" width="1440" height="416">
</section>
