<aside class="filters catalog__filters">
  <form>
    <span>Здесь будет range</span>
    <fieldset class="filters__fieldset">
      <legend class="filters__heading">Сетка:</legend>
      <p class="filters__option">
        <input class="visually-hidden" type="radio" id="adaptive" name="grid" checked>
        <label class="filters__label filters__label--radio" for="adaptive">Адаптивная</label>
      </p>
      <p class="filters__option">
        <input class="visually-hidden" type="radio" id="fixed" name="grid">
        <label class="filters__label filters__label--radio" for="fixed">Фиксированная</label>
      </p>
      <p class="filters__option">
        <input class="visually-hidden" type="radio" id="stretch" name="grid">
        <label class="filters__label filters__label--radio" for="stretch">Резиновая</label>
      </p>
    </fieldset>
    <fieldset class="filters__fieldset">
      <legend class="filters__heading">ОСОБЕННОСТИ:</legend>
      <p class="filters__option">
        <input class="visually-hidden" type="checkbox" id="slider" name="features" checked>
        <label class="filters__label filters__label--checkbox" for="slider">Слайдер</label>
      </p>
      <p class="filters__option">
        <input class="visually-hidden" type="checkbox" id="strengths" name="features">
        <label class="filters__label filters__label--checkbox" for="strengths">Блок преимуществ</label>
      </p>
      <p class="filters__option">
        <input class="visually-hidden" type="checkbox" id="news" name="features" checked>
        <label class="filters__label filters__label--checkbox" for="news">Новости</label>
      </p>
      <p class="filters__option">
        <input class="visually-hidden" type="checkbox" id="gallery" name="features">
        <label class="filters__label filters__label--checkbox" for="gallery">Галерея</label>
      </p>
      <p class="filters__option">
        <input class="visually-hidden" type="checkbox" id="basket" name="features">
        <label class="filters__label filters__label--checkbox" for="basket">Корзина</label>
      </p>
    </fieldset>
    <button class="filters__button">ПОКАЗАТЬ</button>
  </form>
</aside>
