<form class="feedback page__feedback">
  <p class="feedback__lead feedback__wrap">Напишите нам</p>
  <div class="feedback__wrap feedback__wrap--input">
    <label class="feedback__label">
      Ваше имя:
      <input class="feedback__input" type="text" placeholder="Имя Фамилия">
    </label>
    <label class="feedback__label">
      Ваш e-mail:
      <input class="feedback__input" type="email" placeholder="email@example.com">
    </label>
  </div>

  <label class="feedback__label feedback__wrap">
    Текст письма:
    <textarea class="feedback__textarea" placeholder="В свободной форме" rows="4"></textarea>
  </label>
  <button class="feedback__submit">ОТПРАВИТЬ</button>
  <button class="feedback__close" type="button" aria-label="Закрыть форму"></button>
</form>
