<section class="services main__services">
  <h2 class="visually-hidden">Услуги</h2>
  <ul class="services__list">
    <li class="services__item">
      <div class="services__thumbnail services__thumbnail--web"></div>
      <h3 class="services__heading">Веб-сайты</h3>
      <p class="services__description">Мир никогда не будет прежним после того как увидит ваш сайт!</p><a class="services__button p services__button--web" href="order.html">ЗАКАЗАТЬ</a>
    </li>
    <li class="services__item">
      <div class="services__thumbnail services__thumbnail--app"></div>
      <h3 class="services__heading">Приложения</h3>
      <p class="services__description">Покорите топ-10 приложений в AppStore и Google Play</p><a class="services__button p services__button--app" href="order.html">ЗАКАЗАТЬ</a>
    </li>
    <li class="services__item">
      <div class="services__thumbnail services__thumbnail--presentation"></div>
      <h3 class="services__heading">Презентации</h3>
      <p class="services__description">Вы даже не подозреваете, насколько вы изумительны!</p><a class="services__button p services__button--presentation" href="order.html">ЗАКАЗАТЬ</a>
    </li>
  </ul>
</section>
