<section class="slider main__slider">
  <h2 class="visually-hidden">Наши преимущества</h2>
  <ul class="slider__list">
    <li class="slider__item">
      <p class="slider__tagline">Долго, дорого, скрупулезно.</p>
      <p class="slider__description">Математически выверенный дизайн для вашего сайта или мобильного приложения.</p>
      <a class="slider__button" href="services.html"></a>
    </li>
    <li class="slider__item">
      <p class="slider__tagline">Любим математику как никто другой</p>
      <p class="slider__description">Никакого креатива, только математические формулы для расчета идеальных пропорций.</p>
      <a class="slider__button" href="services.html"></a>
    </li>
    <li class="slider__item">
      <p class="slider__tagline">Только ночь, только хардкор</p>
      <p class="slider__description">Работать днем, как все? Мы против этого. Ближе к полуночи работа только начинается.</p>
      <a class="slider__button" href="services.html"></a>
    </li>
  </ul>
</section>
