.button {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  outline: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px 0 0 rgba(0, 1, 1, 0.1) inset;
}

.button--app {
  background-color: #00ca74;
}

.button--app:hover,
.button--app:focus {
  background-color: #00bc6c;
}

.button--app:active {
  background-color: #00aa62;
}

.button--presentation {
  background-color: #efc849;
}

.button--presentation:hover,
.button--presentation:focus {
  background-color: #eab534;
}

.button--presentation:active {
  background-color: #e5a722;
}
