.catalog {
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
}

.catalog__main-column {
  width: 760px;
}

.catalog__cards {
  margin-bottom: 55px;
}

.catalog__header {
  margin-bottom: 58px;
}
