.clients__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
  width: 1080px;

  list-style: none;
}

.clients__link {
  opacity: 0.2;
}

.clients__link:hover,
.clients__link:focus {
  opacity: 1;
}

.clients__link:active {
  opacity: 0.1;
}
