.clients__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.clients__item {
  position: relative;


  width: 300px;
  min-height: 180px;
}

.clients__item:first-of-type {
  margin-left: -20px;
}

.clients__item:last-of-type {
  margin-right: -20px;
}

.clients__item::after {
  position: absolute;
  top: 65px;
  right: 0;

  display: block;
  width: 2px;
  height: 52px;

  background-color: #eeeeee;

  content: "";
}

.clients__item:last-of-type::after {
  display: none;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 180px;

  opacity: 0.2;
}

.clients__link:hover,
.clients__link:focus {
  opacity: 1;
}

.clients__link:active {
  opacity: 0.1;
}
