.contacts {
  position: relative;
}

.contacts::before {
  position: absolute;
  right: 390px;
  top: 90px;

  display: block;
  height: 190px;
  width: 231px;

  background-image: url("../../img/map-marker.png");
  background-repeat: no-repeat;

  content: "";
}

.contacts__map {
  position: relative;

  min-height: 416px;
}

.contacts__placeholder {
  position: relative;
  z-index: 0;
}

.contacts__ya-map {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;

  width: 100%;
  height: 100%;
}

.contacts__address {
  position: absolute;
  left: 140px;
  top: 210px;
  z-index: 100;

  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-right: 50px;
  width: calc(320px - 50px * 2);
  min-height: 308px;

  font-style: normal;

  transform: translateY(-50%);

  background-color: #ffffff;
}

.contacts__recipient {
  margin: 0;
  margin-top: 47px;
  margin-bottom: 24px;

  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 1px;
}

.contacts__text {
  margin: 0;
  margin-bottom: 18px;
  width: 210px;

  font-size: 16px;
  line-height: 18px;
}

.contacts__tel {
  margin: 0;
  margin-bottom: 38px;

  font-size: 16px;
  line-height: 18px;
  text-decoration: none;

  color: inherit;
}

.contacts__button {
  width: 220px;
}
