.contacts {
  position: relative;

  min-height: 416px;
  overflow-y: auto;
}

.contacts__placeholder {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 0;

  display: block;
  transform: translateX(-50%);
}

.contacts__iframe {
  position: relative;
  z-index: 50;

  display: block;
  height: 100%;
  width: 100%;
  min-width: 1440px;
  min-height: 416px;
  margin-left: auto;
  margin-right: auto;

  border: 0;
}

.contacts__address {
  position: absolute;
  left: 50%;
  top: 57px;
  z-index: 100;

  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-right: 50px;
  width: calc(320px - 50px * 2);
  min-height: 308px;
  overflow-y: auto;

  font-style: normal;

  background-color: #ffffff;

  transform: translateX(-580px);
}

.contacts__recipient {
  margin: 0;
  margin-top: 47px;
  margin-bottom: 24px;

  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 1px;
}

.contacts__text {
  margin: 0;
  margin-bottom: 18px;
  width: 210px;

  font-size: 16px;
  line-height: 18px;
}

.contacts__tel {
  margin: 0;
  margin-bottom: 38px;

  font-size: 16px;
  line-height: 18px;
  text-decoration: none;

  color: inherit;
}

.contacts__button {
  width: 220px;
  margin-bottom: 20px;
}
