.filters {
  width: 260px;
}

.filters__button {
  width: 260px;
}

.filters__heading {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.filters__fieldset {
  padding: 0;

  border: none;
}

.filters__fieldset--range {
  margin-bottom: 55px;
}

.filters__fieldset--grid {
  margin-bottom: 50px;
}

.filters__fieldset--features {
  margin-bottom: 50px;
}

.filters__option {
  margin-top: 17px;
  margin-bottom: 21px;
}

.filters__option:last-of-type {
  margin-bottom: 0;
}

.filters__label {
  position: relative;

  margin-left: 36px;
}

.filters__label::before {
  position: absolute;
  left: -36px;

  display: block;

  background-repeat: no-repeat;
  background-position: left;
  opacity: 0.4;

  content: "";
}

.filters__label:hover::before {
  opacity: 1;
}

.filters__label--radio::before {
  top: -4px;

  width: 25px;
  height: 25px;

  background-image: url("../../img/radio-off.svg");
}

.filters__input:checked + .filters__label--radio::before {
  background-image: url("../../img/radio-on.svg");
}

.filters__label--checkbox::before {
  top: -4px;

  width: 27px;
  height: 23px;

  background-image: url("../../img/checkbox-off.svg");
}

.filters__input:checked + .filters__label--checkbox::before {
  background-image: url("../../img/checkbox-on.svg");
}
