.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 70px;
}

.footer__contacts {
  width: 100%;
  margin-top: 80px;
  margin-bottom: 70px;
}

.footer__slogan {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-left: 140px;

  font-size: 16px;
  line-height: 22px;
}

.footer__tagline {
  display: block;
  margin-bottom: 10px;

  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.3px;
}

.footer__wrap {
  display: flex;
  padding-top: 70px;
}
