.main-navigation {
  display: flex;
  align-items: center;
}

.main-navigation__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 200px;
  width: 100%;
}

.main-navigation__item {
  margin-right: 44px;
}

.main-navigation__item--cart {
  margin-left: auto;
  margin-right: 0;
}

.main-navigation__link {
  color: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-decoration: none;
  text-transform: uppercase;

}

.main-navigation__link--cart {
  position: relative;
}

.main-navigation__link--cart::before {
  position: absolute;
  content: "";
  top: 2px;
  left: -40px;
  width: 15px;
  height: 15px;
  background-image: url("../../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}
