.main__slider {
  margin-bottom: 80px;
}

.main__services {
  padding-bottom: 82px;
}

.main__about {
  margin-top: 40px;
}

.main__contacts {
  margin-top: 80px;
}

.main__heading {
  display: block;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 110px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;

  background-color: #eeeeee;
  border: 0.1px solid transparent;
}
