.main-navigation {
  align-items: center;
  display: flex;
}

.main-navigation__list {
  display: flex;
  margin: 0;
  margin-left: 200px;
  margin-top: 10px;
  padding: 0;
  width: 100%;

  list-style: none;
}

.main-navigation__item {
  margin-right: 47px;
}

.main-navigation__item:last-of-type {
  margin-right: 0;
}

.main-navigation__item--cart {
  margin-left: auto;
  margin-right: 0;
}

.main-navigation__link {
  position: relative;

  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-decoration: none;
  text-transform: uppercase;

  color: inherit;
}

.main-navigation__link:hover,
.main-navigation__link:focus {
  color: #fb565a;
}

.main-navigation__link:active {
  color: inherit;
  opacity: 0.3;
}

.main-navigation__link--current::after {
  position: absolute;
  left: 0;
  bottom: -13px;

  width: 100%;
  height: 2px;

  background-color: #fb565a;

  content: "";
}

.main-navigation__link--cart::before {
  position: absolute;
  top: 2px;
  left: -40px;

  height: 15px;
  width: 15px;

  background-color: transparent;
  background-image: url("../../img/icon-cart.svg");
  background-position: center;
  background-repeat: no-repeat;

  content: "";
}
