.pagination {
  display: flex;
  flex-wrap: wrap;
}

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination__item {
  margin-right: 11px;
}

.pagination__item:last-of-type {
  margin-right: 0;
}

.pagination__button {
  width: 260px;
}

.pagination__button:first-of-type {
  margin-right: 11px;
}

.pagination__button:last-of-type {
  margin-left: 11px;
}

.pagination__button--inactive {
  display: none;
}

.pagination__link {
  width: 50px;
}

.pagination__item--current .pagination__link {
  padding-top: 13px;
  padding-bottom: 13px;
  width: 44px;

  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}
