.services__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 1100px;

  list-style: none;
}

.services__item {
  width: 300px;
}

.services__thumbnail {
  height: 146px;
  width: 300px;

  background-position: center;
  background-repeat: no-repeat;
}

.services__thumbnail--web {
  background-color: #fb565a;
  background-image: url("../../img/services-html.jpg");
}

.services__thumbnail--app {
  background-color: #00ca74;
  background-image: url("../../img/services-app.jpg");
}

.services__thumbnail--presentation {
  background-color: #efc849;
  background-image: url("../../img/services-presentation.jpg");
}

.services__heading {
  margin-bottom: 17px;

  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.services__description {
  margin-bottom: 30px;
  width: 280px;

  font-size: 16px;
  line-height: 24px;
}

.services__button {
  width: 160px;
}


