.slider {
  background-color: #eeeeee;
}

.slider__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider__tagline {
  margin: 0;
  margin-bottom: 20px;
  width: 560px;

  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.slider__description {
  margin: 0;
  margin-bottom: 30px;

  font-size: 16px;
  line-height: 24px;
}

.slider__button {
  width: 240px;
}

.slider__item {
  min-height: 430px;
  padding-top: 50px;

  background-position: bottom right;
  background-repeat: no-repeat;
}

.slider__item--slide-1 {
  background-image: url("../../img/slide1.jpg");
}

.slider__item--slide-2 {
  background-image: url("../../img/slide2.jpg");
}

.slider__item--slide-3 {
  background-image: url("../../img/slide3.jpg");
}
