.slider {
  background-color: #eeeeee;
}

.slider__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider__tagline {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  margin: 0;
  margin-bottom: 20px;
  width: 560px;
}

.slider__description {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 30px;
}

.slider__button {
  background-color: #fb565a;
  border-radius: 2px;
  color: #ffffff;
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 14px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  text-decoration: none;
  width: 240px;
}

.slider__item {
  background-position: bottom right;
  background-repeat: no-repeat;
  min-height: 430px;
  padding-top: 50px;
}

.slider__item--slide-1 {
  background-image: url("../../img/slide1.jpg");
}

.slider__item--slide-2 {
  background-image: url("../../img/slide2.jpg");
}

.slider__item--slide-3 {
  background-image: url("../../img/slide3.jpg");
}
