.slider {
  position: relative;

  background-color: #eeeeee;
}

.slider__list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;

  list-style: none;
}

.slider__tagline {
  margin: 0;
  margin-bottom: 25px;
  margin-top: 73px;
  width: 560px;

  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.slider__description {
  margin: 0;
  margin-bottom: 40px;
  width: 410px;

  font-size: 16px;
  line-height: 24px;
}

.slider__button {
  width: 240px;
}

.slider__item {
  min-height: 425px;

  background-position: bottom right;
  background-repeat: no-repeat;
  border: 0.1px solid transparent;
}

.slider__item--slide-1 {
  background-image: url("../../img/slide1.jpg");
  background-position: bottom right 30px;
}

.slider__item--slide-2 {
  background-image: url("../../img/slide2.jpg");
}

.slider__item--slide-3 {
  background-image: url("../../img/slide3.jpg");
}

.slider__controls {
  position: absolute;
  left: 50%;
  bottom: 95px;
  z-index: 100;

  display: flex;
  justify-content: space-between;
  width: 88px;
  height: 18px;
  margin: 0;
  padding: 0;

  list-style: none;

  transform: translateX(-44px);
}

.slider__toggle {
  position: relative;

  width: 18px;
  height: 18px;

  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: #ffffff;
}

.slider__toggle--active::before {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;

  width: 4px;
  height: 4px;
  margin: -4px;

  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;

  content: "";
}
