.stats__table {
  width: 360px;
}

.stats__tagline {
  padding-top: 15px;
  padding-bottom: 15px;

  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.stats__item {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100px;

  font-size: 45px;
  line-height: 10px;
  text-align: left;
  font-weight: 700;
}

.stats__percent {
  font-size: 28px;
  font-weight: 700;
}

.stats__heading {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  line-height: 18px;
}
