@import "fonts.css";
@import "blocks/visually-hidden.css";
@import "blocks/page.css";
@import "blocks/wrapper.css";
@import "blocks/main-header.css";
@import "blocks/main-navigation.css";
@import "blocks/slider.css";
@import "blocks/services.css";
@import "blocks/separator.css";
