@import "fonts.css";
@import "blocks/visually-hidden.css";
@import "blocks/page.css";
@import "blocks/wrapper.css";
@import "blocks/main-header.css";
@import "blocks/main-navigation.css";
@import "blocks/slider.css";
@import "blocks/services.css";
@import "blocks/separator.css";
@import "blocks/about.css";
@import "blocks/clients.css";
@import "blocks/stats.css";
@import "blocks/contacts.css";
@import "blocks/footer.css";
@import "blocks/social.css";
@import "blocks/feedback.css";
