footer.footer
  ul.social
    li.social__item
      a(href="").social__link.social__link--vk
    li.social__item
      a(href="").social__link.social__link--facebook
    li.social__item
      a(href="").social__link.social__link--instagram
  div.footer__wrap
    p.footer__tagline Давайте дружить, это выгодно!
    p.footer__text Скидка 10% для друзей из социальных сетей.
