footer.footer.page__footer
  ul.social
    li.social__item
      a(href="https://vk.com/").social__link.social__link--vk
    li.social__item
      a(href="http://facebook.com/").social__link.social__link--facebook
    li.social__item
      a(href="https://www.instagram.com/").social__link.social__link--instagram
  p.footer__slogan
    span.footer__tagline Давайте дружить, это выгодно!
    | Скидка 10% для друзей из социальных сетей.
