{% extends "twig/layout.twig" %}

{% block page %}
<header class="header page__main-header">
  <nav class="main-navigation">
    <a class="logo main-navigation__logo" href="index.html">
      <img src="http://placehold.it/160x65" width="160" height="65" alt="Логотип Нёрдс">
    </a>
    <ul class="main-navigation__list">
      <li class="main-navigation__item">
        <a class="main-navigation__link" href="about.html">Студия</a>
      </li>
      <li class="main-navigation__item">
        <a class="main-navigation__link" href="clients.html">Клиенты</a>
      </li>
      <li class="main-navigation__item">
        <a class="main-navigation__link main-navigation__link--inactive">Магазин</a>
      </li>
      <li class="main-navigation__item">
        <a class="main-navigation__link" href="contacts.html">Контакты</a>
      </li>
      <li class="main-navigation__item">
        <a class="main-navigation__link" href="cart.html">Корзина</a>
      </li>
    </ul>
  </nav>
</header>
<main class="main page__main">
  <h1 class="main__heading">Магазин готовых шаблонов</h1>
  <section class="catalog main__catalog">
    <h2 class="visually-hidden">Каталог шаблонов</h2>
    {% include 'twig/filters.twig' %}
    {% include 'twig/cards.twig' %}
  </section>
</main>
{% endblock %}
