{% extends "twig/layout.twig" %}

{% block page %}
<header class="main-header page__main-header">
  <div class="wrapper">
    <nav class="main-navigation">
      <a class="logo main-navigation__logo" href="index.html">
        <img src="img/logo-nerds.svg" width="160" height="65" alt="Логотип Нёрдс">
      </a>
      <ul class="main-navigation__list">
        <li class="main-navigation__item">
          <a class="main-navigation__link" href="about.html">Студия</a>
        </li>
        <li class="main-navigation__item">
          <a class="main-navigation__link" href="clients.html">Клиенты</a>
        </li>
        <li class="main-navigation__item">
          <a class="main-navigation__link main-navigation__link--inactive main-navigation__link--current">Магазин</a>
        </li>
        <li class="main-navigation__item">
          <a class="main-navigation__link" href="contacts.html">Контакты</a>
        </li>
        <li class="main-navigation__item main-navigation__item--cart">
          <a class="main-navigation__link main-navigation__link--cart" href="cart.html">Корзина</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<main class="main page__main">
  <h1 class="main__heading">Магазин готовых шаблонов</h1>
  <section class="catalog main__catalog">
    <aside class="filters catalog__filters">
      <form>
        <span>Здесь будет range</span>
        <fieldset class="filters__fieldset">
          <legend class="filters__heading">Сетка:</legend>
          <p class="filters__option">
            <input class="visually-hidden" type="radio" id="adaptive" name="grid" checked>
            <label class="filters__label filters__label--radio" for="adaptive">Адаптивная</label>
          </p>
          <p class="filters__option">
            <input class="visually-hidden" type="radio" id="fixed" name="grid">
            <label class="filters__label filters__label--radio" for="fixed">Фиксированная</label>
          </p>
          <p class="filters__option">
            <input class="visually-hidden" type="radio" id="stretch" name="grid">
            <label class="filters__label filters__label--radio" for="stretch">Резиновая</label>
          </p>
        </fieldset>
        <fieldset class="filters__fieldset">
          <legend class="filters__heading">ОСОБЕННОСТИ:</legend>
          <p class="filters__option">
            <input class="visually-hidden" type="checkbox" id="slider" name="features" checked>
            <label class="filters__label filters__label--checkbox" for="slider">Слайдер</label>
          </p>
          <p class="filters__option">
            <input class="visually-hidden" type="checkbox" id="strengths" name="features">
            <label class="filters__label filters__label--checkbox" for="strengths">Блок преимуществ</label>
          </p>
          <p class="filters__option">
            <input class="visually-hidden" type="checkbox" id="news" name="features" checked>
            <label class="filters__label filters__label--checkbox" for="news">Новости</label>
          </p>
          <p class="filters__option">
            <input class="visually-hidden" type="checkbox" id="gallery" name="features">
            <label class="filters__label filters__label--checkbox" for="gallery">Галерея</label>
          </p>
          <p class="filters__option">
            <input class="visually-hidden" type="checkbox" id="basket" name="features">
            <label class="filters__label filters__label--checkbox" for="basket">Корзина</label>
          </p>
        </fieldset>
        <button class="filters__button">ПОКАЗАТЬ</button>
      </form>
    </aside>
    <div class="catalog__main-column">
      <header class="sort catalog__header">
        <h2 class="visually-hidden">Каталог шаблонов</h2>
        <p class="sort__lead">СОРТИРОВАТЬ:</p>
        <ul class="sort__list">
          <li class="sort__item">
            <a class="sort__type sort__type--active" href="?sort-by=price">По цене</a>
          </li>
          <li class="sort__item">
            <a class="sort__type" href="?sort-by=type">По типу</a>
          </li>
          <li class="sort__item">
            <a class="sort__type" href="?sort-by=name">По названию</a>
          </li>
          <li class="sort__item">
            <a class="sort__order sort__order--descending sort__order--active" href="?sort-order=desc" aria-label="Сортировать по убыванию"></a>
          </li>
          <li class="sort__item">
            <a class="sort__order sort__order--ascending" href="?sort-order=asc" aria-label="Сортировать по возрастанию"></a>
          </li>
        </ul>
      </header>
      <ul class="cards catalog__cards">
        <li class="cards__item">
          <article class="cards__card">
            <img class="cards__preview" src="img/preview-sedona.jpg" alt="Седона">
            <div class="cards__description">
              <a class="cards__link" href="sedona.html">
                <h3 class="cards__heading">Sedona</h3>
              </a>
              <p class="cards__text">Информационный сайт для туристов</p>
              <p class="cards__button button">9 900 руб.</p>
            </div>
          </article>
        </li>
        <li class="cards__item">
          <article class="cards__card">
            <img class="cards__preview" src="img/preview-pink.jpg" alt="Пинк">
            <div class="cards__description">
              <a class="cards__link" href="pink.html">
                <h3 class="cards__heading">Pink App</h3>
              </a>
              <p class="cards__text">Продуктовый лендинг приложения для iOS и Android</p>
              <p class="cards__button button">9 900 руб.</p>
            </div>
          </article>
        </li>
        <li class="cards__item">
          <article class="cards__card">
            <img class="cards__preview" src="img/preview-barbershop.jpg" alt="Барбершоп">
            <div class="cards__description">
              <a class="cards__link" href="barbershop.html">
                <h3 class="cards__heading">Barbershop</h3>
              </a>
              <p class="cards__text">Сайт салона красоты. Для мужчин, да.</p>
              <p class="cards__button button">9 900 руб.</p>
            </div>
          </article>
        </li>
        <li class="cards__item">
          <article class="cards__card">
            <img class="cards__preview" src="img/preview-mishka.jpg" alt="Мишка">
            <div class="cards__description">
              <a class="cards__link" href="mishka.html">
                <h3 class="cards__heading">MISHKA</h3>
              </a>
              <p class="cards__text">Интернет-магазин вязаных игрушек</p>
              <p class="cards__button button">9 900 руб.</p>
            </div>
          </article>
        </li>
        <li class="cards__item">
          <article class="cards__card">
            <img class="cards__preview" src="img/preview-aplus.jpg" alt="А Плюс">
            <div class="cards__description">
              <a class="cards__link" href="aplus.html">
                <h3 class="cards__heading">A Plus</h3>
              </a>
              <p class="cards__text">Лендинг курсов повышения квалификации</p>
              <p class="cards__button button">9 900 руб.</p>
            </div>
          </article>
        </li>
        <li class="cards__item">
          <article class="cards__card">
            <img class="cards__preview" src="img/preview-kvast.jpg" alt="Кваст">
            <div class="cards__description">
              <a class="cards__link" href="kvast.html">
                <h3 class="cards__heading">Кваст</h3>
              </a>
              <p class="cards__text">Промо-сайт производителя крафтового кваса</p>
              <p class="cards__button button">9 900 руб.</p>
            </div>
          </article>
        </li>
      </ul>
      <footer class="pagination">
      <a href="previous.html" class="pagination__button" hidden>предыдущая</a>
      <ul class="pagination__list">
        <li class="pagination__item pagination__item--current">
          <a class="pagination__link" href="1.html" aria-label="Переход на страницу 1">1</a>
        </li>
        <li class="pagination__item">
          <a class="pagination__link" href="2.html" aria-label="Переход на страницу 2">2</a>
        </li>
        <li class="pagination__item">
          <a class="pagination__link" href="3.html" aria-label="Переход на страницу 3">3</a>
        </li>
      </ul>
      <a href="next.html" class="pagination__button">следующая</a>
    </footer>
    </div>
  </section>
</main>
{% endblock %}
