doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title HTML Academy: Нёрдс
    link(rel="stylesheet" type="text/css" href="css/styles.min.css")
  body
    header.header
      nav.navigation
        a(href="index.html")
          img(src="http://placehold.it/160x65" width="160" height="65" alt="Логотип Нёрдс")
        ul.menu
          li.menu__item
            a(href="") Студия
          li.menu__item
            a(href="") Клиенты
          li.menu__item
            a Магазин
          li.menu__item
            a(href="") Контакты
        a.cart(href="") Корзина

    main.main
      h1.heading Магазин готовых шаблонов
      aside.filters
        form
          fieldset.filters__fieldset
            legend.filters__heading Сетка:
            p.filters__option
              input.visually-hidden(type="radio" id="adaptive" name="grid" checked)
              label.filters__label.filters__label--radio(for="adaptive") Адаптивная
            p.filters__option
              input.visually-hidden(type="radio" id="fixed" name="grid")
              label.filters__label.filters__label--radio(for="fixed") Фиксированная
            p.filters__option
              input.visually-hidden(type="radio" id="stretch" name="grid")
              label.filters__label.filters__label--radio(for="stretch") Резиновая
          fieldset.filters__fieldset
            legend.filters__heading ОСОБЕННОСТИ:
            p.filters__option
              input.visually-hidden(type="checkbox" id="slider" name="features" checked)
              label.filters__label.filters__label--checkbox(for="stretch") Слайдер
            p.filters__option
              input.visually-hidden(type="checkbox" id="strengths" name="features")
              label.filters__label.filters__label--checkbox(for="strengths") Блок преимуществ
            p.filters__option
              input.visually-hidden(type="checkbox" id="news" name="features" checked)
              label.filters__label.filters__label--checkbox(for="news") Новости
            p.filters__option
              input.visually-hidden(type="checkbox" id="gallery" name="features")
              label.filters__label.filters__label--checkbox(for="gallery") Галерея
            p.filters__option
              input.visually-hidden(type="checkbox" id="basket" name="features")
              label.filters__label.filters__label--checkbox(for="basket") Корзина
          button.filters__button(type="submit") ПОКАЗАТЬ

      ul.cards
        li.cards__item
          img.cards__preview(src="http://placehold.it/360x576" alt="Седона")
          div.cards__description
            h3.cards__heading Sedona
            p.cards__text Информационный сайт для туристов
            a.cards__button 9 900 руб.
        li.cards__item
          img.cards__preview(src="http://placehold.it/360x576" alt="Пинк")
          div.cards__description
            h3.cards__heading Pink App
            p.cards__text Продуктовый лендинг приложения для iOS и Android
            a.cards__button 9 900 руб.
        li.cards__item
          img.cards__preview(src="http://placehold.it/360x576" alt="Барбершоп")
          div.cards__description
            h3.cards__heading Barbershop
            p.cards__text Сайт салона красоты. Для мужчин, да.
            a.cards__button 9 900 руб.
        li.cards__item
          img.cards__preview(src="http://placehold.it/360x576" alt="Мишка")
          div.cards__description
            h3.cards__heading MISHKA
            p.cards__text Интернет-магазин вязаных игрушек
            a.cards__button 9 900 руб.
        li.cards__item
          img.cards__preview(src="http://placehold.it/360x576" alt="А Плюс")
          div.cards__description
            h3.cards__heading A Plus
            p.cards__text Лендинг курсов повышения квалификации
            a.cards__button 9 900 руб.
        li.cards__item
          img.cards__preview(src="http://placehold.it/360x576" alt="Кваст")
          div.cards__description
            h3.cards__heading Sedona
            p.cards__text Промо-сайт производителя крафтового кваса
            a.cards__button 9 900 руб.

    include pug/footer
|
|
